<app-header [hide]="true"></app-header>

<div class="roww roww2">
    <h2>All Products</h2>
    <mat-form-field>
      <mat-label>Default Sort</mat-label>
      <mat-select  [(ngModel)]="filter" (click)="getValue()">
        <mat-option *ngFor="let filt of filts" [value]="filt.value">
          {{filt.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>

</div>

  <div *ngIf="filter == '1'">
    <app-product-card [filterProduct]="filter" [page]="pageProducts"></app-product-card>
  </div>
  <div *ngIf="filter == '2'">
    <app-product-card [filterProduct]="filter"></app-product-card>
  </div>
  <div *ngIf="filter == '3'">
    <app-product-card [filterProduct]="filter"></app-product-card>
  </div>

<div class="space">
<div class="page-btn">
    <a (click)="getPage(1)"><span>1</span></a>
    <a (click)="getPage(2)"><span>2</span></a>
    <a (click)="getPage(3)"><span>3</span></a>
    <a (click)="getPage(4)"><span>4</span></a>
    <span>&#8594;</span>
</div>
</div>