<app-header [hide]="true"></app-header>

<!-- Cart items details -->
<ng-container *ngIf="cartItems.length != 0">
<div class="small-container cart-page">
    <table>
        <tr>
            <th>Product</th>
            <th>Size</th>
            <th>Quantity</th>
            <th>Subtotal</th>
        </tr>
        <tr *ngFor="let item of cartItems; let i = index">
            <td >
                <div class="cart-info">
                    <img src="{{item.image}}">
                    <div>
                        <p>{{item.title}}</p>
                        <small>Price: ${{item.price}}</small>
                        <br>
                        <a (click)="removeItem(item)"> <mat-icon class="delete">delete</mat-icon></a> 
                    </div>
                </div>
            </td>
            <td>
                <p>{{item.size}}</p>
            </td>
            <td >
                <!-- <p>{{product.quantity}}</p>   -->
                <p>{{item.quantity}}</p>
            </td>
            <td>
                <ng-container>
                ${{ item.price * item.quantity }}
                  </ng-container>
             </td>
        </tr>
    </table>
    <div class="total-price">
        <table>
            <tr>
                <td>Total</td>
                <td>${{totalPrice}}</td>
            </tr>
        </table>

    </div>
    <div class="button">
        <button type="button" (click)="removeAllCart()" class="btn btn-danger">Clean cart</button>
        <button type="button" routerLink="/products" class="btn btn-primary">Shop More</button>
        <button type="button"  routerLink="/check-out" class="btn btn-success">CheckOut</button>

    </div>

</div>
</ng-container>

<ng-container *ngIf="cartItems.length == 0">
    <div class="container" style="text-align: center; margin-top: 10px; margin-bottom: 10px;">
     <div class="row" >
        <div class="col-lg-12">
            <img class="img" src="./assets/img/empty-image.png" alt="empty cart">
            <h4 style="font-size: 40px; color: black;">Your cart is empty</h4>
            <p>Looks like you have not added anything to your cart. Go <br> ahead & explore top categories.</p> 
        </div>
        <div class="button-class" col-md-6>
    <button type="button" routerLink="/products" class="btn btn-primary">Choose products</button>
</div>
</div>
</div>
</ng-container>