<div class="small-container">

    <!-- <ng-template *ngFor="let item of items"> -->
        <div class="container1">
            <div class="row align-items-start">
                <div class="col-sm-12 col-md-3 img-product"  *ngFor="let item of items; let i = index" >
                    <a  (click)="getIndex(item.id)"><img src={{item.image}}></a>
                    <h4>{{item.title}}</h4>
                        <ngb-rating  [max]="5" [(rate)]="item.rating" [readonly]="true" class="rating"></ngb-rating>
                    <p><span> Price:</span> {{item.price}}</p>
                </div>
  
        
    </div>


</div>