<app-header [hide]="true"></app-header>

<div class="small-container single-product" *ngFor="let item of singleProduct">
    <div class="row">
        <div class="col-2">
            <img src="{{item.image}}" width="100%" id="ProductImg">
<!-- 
            <div class="small-img-row">
                <div (click)="changeImage(item.image)" class="small-img-col">
                    <img src="{{item.image}}" width="120%" class="small-img">
                </div>
                <div (click)="changeImage(item.image)" class="small-img-col">
                    <img src="{{item.image}}" width="120%" class="small-img">
                </div>
                <div (click)="changeImage(item.image)" class="small-img-col">
                    <img src="{{item.image}}" width="120%" class="small-img">
                </div>
                <div (click)="changeImage(item.image)" class="small-img-col">
                    <img src="{{item.image}}" width="120%" class="small-img">
                </div>
            </div> -->

        </div>
        <div class="coll-2" >
            <p>{{item.category}}</p>
            <h1>{{item.title}}</h1>
            <h4>${{item.price}}</h4>
            <div class="both">
            <select #sizes (change)="onSelectedSize(sizes.value)">
                <option default>Select Size</option>
                <option>XXL</option>
                <option>XL</option>
                <option>L</option>
                <option>M</option>
                <option>S</option>
            </select><br>
            <input #quantity (change)="onSelectedQuantity(quantity.value)" type="number" value="0"> 
        </div>
            <div class="button-product">
            <button mat-stroked-button (click)="addToCart()" type="button" id="btn-product" class="btn btn-success">Add to cart</button>
            </div>
            <h3>Product Details <i class="fa fa-indent"></i></h3>

            <p>{{item.description}}</p>
        </div>
    </div>
</div>



<!-- title -->
<div class="small-container">
    <div class="roww roww-2">
        <h2>Related Products</h2>
        <p>View More</p>
    </div>
</div>

<!-- Products -->


<app-product-card [productDetail]="true" ></app-product-card>
<!-- <div class="small-container" >
    <div class="row" >
        <div class="col-md-3" *ngFor="let product of products">
            <img style="width: 150px; height: 150px;" src="{{product.image}}">
            <h4>{{product.title}}</h4>
            <div>
                <ngb-rating  [max]="5" [(rate)]="product.rating" [readonly]="true" class="rating"></ngb-rating>
            </div>
            <p>${{product.price}}</p>
        </div>
        
</div>
</div> -->
